Summarization/__pycache__
Summarization/*log*
Summarization/log
Summarization/t5_sum_ckpt
Summarization/tagger/__pycache__
Summarization/tagger/sumdata
Summarization/tagger/out_base
Summarization/tagger/output
Summarization/tagger_ckpt/*
Summarization/summary_ckpt/*
Summarization/unused/*
Summarization/prompt_tuning_ckpt_conll/__pycache__
Summarization/t5_tagger_pretraining_data/*
Summarization/t5_tagger_pretrained_ckpt/*
