.DS_Store
.idea/*

pretrained_ckpt/*

entity_ckpt/*
summary_ckpt/*
saved_models/*
log/*
permutations/*

figures/*
human_evaluation/*

src/.DS_Store
src/__pycache__/*
src/dataset/__pycache__/*
src/models/__pycache__/*
