src/__pycache__
src/*log*
src/t5_ckpt
src/saved_models/*
src/temp/*
src/tagger/__pycache__
src/tagger/sumdata
src/tagger/out_base
src/tagger/output
Summarization/__pycache__
Summarization/*log*
Summarization/t5_sum_ckpt
Summarization/tagger/__pycache__
Summarization/tagger/sumdata
Summarization/tagger/out_base
Summarization/tagger/output
Summarization/T5PromptNER/__pycache__